<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
        }

        .wrapper {
            width: 100%;
            height: auto;
        }

        .top-navigator {
            padding: 10px 40px;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .body-content
        {
            padding: 0 40px;
        }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
                color: #FFB740;
            }

        .logo
        {
            font-size: 1.7em;
            font-weight: 700;
        }

        .menu-items
        {
            font-size: 1.2em;
        }

        .menu-items span
        {
            padding: 0 0 0 20px;
        }
    </style>
</head>

    <body>
        <div class="wrapper">
            <div class="top-navigator">
                <div class="logo">
                    <span>@Html.ActionLink("Foodology", "Home", "User")</span>
                </div>
                <div class="menu-items">
                    <span>@Html.ActionLink("Home", "Home", "User")</span>
                    <span>@Html.ActionLink("User", "Login", "User")</span>
                    @if (Session["u_username"] != null)
                    {
                        <span>@Session["u_username"].ToString()</span>
                    }
                </div>
            </div>

            <div class="body-content">
                @RenderBody()
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
