@model FoodDatabase.fs_category
@{
    ViewBag.Title = "Add Category";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addItemBtn').click(function () {
            document.location.href = "CreateItem";
        });
    });
</script>

<style>
    .create-wrapper {
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        width: 500px;
        padding: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    table {
        width: 100%;
    }

        table span {
            color: red;
            margin: 10px 0;
        }

        table td {
            padding: 10px 0;
        }

    center {
        margin: 20px 10px;
        width: 100%;
    }

    .center-flex {
        width: 100%;
        display: flex;
    }

    input {
        border: 1px solid #cbc9c8;
        padding: 5px;
        border-radius: 10px;
    }

        input[type = "text"], input[type = "password"], input[type="file"] {
            width: 100%;
            height: 50px;
        }

        input[type = "button"] {
            background-color: white;
            border: 1px solid #cbc9c8;
            color: black;
        }

        input[type = "submit"] {
            background-color: #FFD371;
            border: none;
            color: black;
            font-weight: 500;
        }

            input[type = "submit"]:hover, input[type = "submit"]:focus, input[type = "submit"]:active, input[type = "button"]:hover, input[type = "button"]:active, input[type = "button"]:focus {
                background-color: #FFB740;
                color: black;
                border: none;
            }
</style>

<div class="create-wrapper">
    <!--<h2>Session: @Session["r_id"].ToString()</h2>-->
    @using (Html.BeginForm("Create", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2>Add Category</h2>
        <table>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.c_name)</td>
                    <td>@Html.EditorFor(model => model.c_name)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.c_name)</span>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.c_image)</td>
                    <td>
                        <input type="file" value="" name="imgFile" id="imgFile" />
                    </td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.c_image)</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="center-flex">
            <center>
                <input style="height: 40px;width: 100%; border-radius: 20px;" type="submit" class="btn btn-primary" value="Add Category" name="name" />
            </center>
            <center>
                <input style="height: 40px;width: 100%; border-radius: 20px;" id="addItemBtn" type="button" class="btn btn-primary" value="Add Item" name="name" />
            </center>
        </div>

        <p style="color: red;">@ViewBag.Error</p>
    }
</div>