@model FoodDatabase.fs_item
@{
    ViewBag.Title = "Add Item";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addCategoryBtn').click(function () {
            document.location.href = "Create";
        });
    });
</script>

<style>
    .table span {
        color: red !important;
    }

    #container {
        margin-top: 100px;
    }

    .row img {
        width: 100%;
        border-radius: 20px;
    }

    table span {
        color: red;
    }

    table td {
        padding: 10px 0;
        padding-right: 60px;
    }

    input {
        border: 1px solid #cbc9c8;
        padding: 5px;
        border-radius: 10px;
    }

        input[type = "submit"], input[type = "button"], #newUserBtn {
            background-color: #FFD371;
            border: none;
            color: black;
        }

            input[type = "submit"]:hover, input[type = "button"]:hover, #newUserBtn:hover {
                background-color: #FFB740;
                color: black;
            }
</style>

<div>
    @using (Html.BeginForm("CreateItem", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <h2>Add Item</h2>
            <table>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.i_c_id)</td>
                        <td>
                            @Html.DropDownListFor(model => model.i_c_id, new SelectList(Model.CategoryCollection, "c_id", "c_name"), "Select")
                        </td>
                        <td>
                            <span class="text-danger">@Html.ValidationMessageFor(model => model.i_c_id)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.i_name)</td>
                        <td>@Html.EditorFor(model => model.i_name)</td>
                        <td>
                            <span class="text-danger">@Html.ValidationMessageFor(model => model.i_name)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.i_price)</td>
                        <td>@Html.EditorFor(model => model.i_price)</td>
                        <td>
                            <span class="text-danger">@Html.ValidationMessageFor(model => model.i_price)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.i_desc)</td>
                        <td>@Html.EditorFor(model => model.i_desc)</td>
                        <td>
                            <span class="text-danger">@Html.ValidationMessageFor(model => model.i_desc)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.i_image)</td>
                        <td>
                            <input type="file" value="" name="imgFile" id="imgFile" />
                        </td>
                        <td>
                            <span class="text-danger">@Html.ValidationMessageFor(model => model.i_image)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Create" name="name" />
                        </td>
                        <td>
                            <input id="addCategoryBtn" type="button" class="btn btn-primary" value="Add Category" name="name" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p style="color: red;">@ViewBag.Error</p>
    }
</div>