@model FoodDatabase.fs_restaurant
@{
    ViewBag.Title = "Restaurant Signup";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginBtn').click(function () {
                document.location.href = "Login";
            });
        });
    </script>
    <style>
        span
        {
            color: red !important;
        }
    </style>
</head>
<body>
    <h2>Restaurant Sign up</h2>
    <div>
        @using (Html.BeginForm("Signup", "Restaurant", FormMethod.Post))
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.r_name)</td>
                        <td>@Html.TextBoxFor(model => model.r_name)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.r_name)</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>@Html.LabelFor(model => model.r_location)</td>
                        <td>@Html.TextBoxFor(model => model.r_location)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.r_location)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.r_contact)</td>
                        <td>@Html.TextBoxFor(model => model.r_contact)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.r_contact)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.r_email)</td>
                        <td>@Html.TextBoxFor(model => model.r_email)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.r_email)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.r_password)</td>
                        <td>@Html.PasswordFor(model => model.r_password)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.r_password)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Signup" name="name" />
                        </td>
                        <td>
                            <input type="button" id="loginBtn" class="btn btn-primary" value="Login" name="name" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="color: red;">@ViewBag.error</p>
        }
    </div>
</body>
</html>
