@model FoodDatabase.fs_restaurant
@{
    ViewBag.Title = "Add Restaurant";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loginBtn').click(function () {
            document.location.href = "Signup";
        });
    });
</script>

<style>
    .table span {
        color: red !important;
    }

    #container {
        margin-top: 100px;
    }

    .row img {
        width: 100%;
        border-radius: 20px;
    }

    table span {
        color: red;
    }

    table td {
        padding: 10px 0;
        padding-right: 60px;
    }

    input {
        border: 1px solid #cbc9c8;
        padding: 5px;
        border-radius: 10px;
    }

        input[type = "submit"], #newUserBtn {
            background-color: #FFD371;
            border: none;
            color: black;
        }

            input[type = "submit"]:hover, #newUserBtn:hover {
                background-color: #FFB740;
                color: black;
            }
</style>

<div>
    @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="container">
            <h2>Add Restaurant</h2>
            <table>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.r_name)</td>
                    <td>@Html.EditorFor(model => model.r_name)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_name)</span>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.r_location)</td>
                    <td>@Html.EditorFor(model => model.r_location)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_location)</span>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.r_email)</td>
                    <td>@Html.EditorFor(model => model.r_email)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_email)</span>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.r_contact)</td>
                    <td>@Html.EditorFor(model => model.r_contact)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_contact)</span>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.r_image)</td>
                    <td>
                        <input type="file" value="" name="imgFile" id="imgFile" />
                    </td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_image)</span>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.r_password)</td>
                    <td>@Html.PasswordFor(model => model.r_password)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_password)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Submit" name="name" />
                    </td>

                </tr>
            </tbody>
        </table>
        </div>
       
        <p style="color: red;">@ViewBag.Error</p>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
