@model FoodDatabase.fs_restaurant
@{
    ViewBag.Title = "Add Restaurant";
}

<h2>Add Restaurant</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loginBtn').click(function () {
            document.location.href = "Signup";
        });
    });
</script>
<div>
    @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="table">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.r_name)</td>
                    <td>@Html.EditorFor(model => model.r_name)</td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_name)</span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.r_image)</td>
                    <td>
                        <input type="file" value="" name="imgFile" id="imgFile" />
                    </td>
                    <td>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.r_image)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Submit" name="name" />
                    </td>

                </tr>
            </tbody>
        </table>
        <p style="color: red;">@ViewBag.Error</p>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
