@using PagedList.Mvc
@model PagedList.IPagedList<FoodDatabase.fs_restaurant>
@{
    ViewBag.Title = "Home";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    var new_id = 5;
    $('div.home-wrapper').attr('id', new_id);
</script>

<style>
    .image-background {
        position: relative;
        background-color: black;
    }

        .image-background img {
            width: 100%;
            opacity: 0.7;
        }

    .image-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .image-text p {
            font-size: 3em;
            font-weight: 600;
            color: white;
            text-align: center;
        }

    .resturant-list {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-wrapper-items {
        text-align: left;
    }
</style>

<div class="image-background">
    <img src="~/Content/images/foodology_cover.png" />
    <div class="image-text">
        @if (Session["u_username"] != null)
        {
            <p>Welcome, @Session["u_username"].ToString() .</p>
        }
        <p>
            Find the Best restaurants, cafes, and bars.
        </p>
    </div>
</div>
<div class="resturant-list">
    @if (Model != null)
    {
        int i = 1;
        foreach (var item in Model)
        {   
            <div class="home-wrapper">
                <div id =""class="home-wrapper-items" style="height : 200px; margin: 100px 0 0 0; width: 400px;">
                    <img src="@Url.Content(item.r_image)" style="height : 100%; width : auto; border-radius : 10px" />
                    <h3>@item.r_name</h3>
                    <p style="color: gray;">@item.r_desc</p>
                    <p>@item.r_location</p>
                </div>
            </div>
            i++;
        }

    }

</div>