@using FoodDatabase
@model IEnumerable<FoodDatabase.fs_restaurant>
@{
    ViewBag.Title = "Home";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    var new_id = 5;
    $('div.home-wrapper').attr('id', new_id);
</script>

<style>

    a {
        color: black;
        z-index: 1000;
    }

        a:hover {
            text-decoration: none;
            color: #FFB740;
        }

    html
    {
        overflow-x: hidden;
    }
    .image-background {
        position: relative;
        background-color: black;
    }

        .image-background img {
            width: 100%;
            opacity: 0.7;
        }

    .image-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .image-text p {
            font-size: 3em;
            font-weight: 600;
            color: white;
            text-align: center;
        }


    .home-wrapper {
        padding-bottom: 60px;
    }

    .restaurant-list {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
    }
</style>

<div class="image-background">
    <img src="~/Content/images/foodology_cover.png" />
    <div class="image-text">
        @if (Session["u_username"] != null)
        {
            <p>Welcome, @Session["u_username"].ToString() .</p>
        }
        <p>
            Find the Best restaurants, cafes, and bars.
        </p>
    </div>
</div>
<div class="restaurant-list">
    @if (Model != null)
    {
        foreach (fs_restaurant restaurant in Model)
        {   
            <div class="home-wrapper">
                <div class="col-lg-4 col-md-4" style="height: 200px; margin-top: 100px; width: 400px;">
                    <img src="@Url.Content(restaurant.r_image)" style="height : 100%; width : auto; border-radius : 10px" />

                    <h3>@Html.ActionLink(restaurant.r_name, "ViewCategory", new { id = restaurant.r_id })</h3>

                    <p style="color: gray;">@restaurant.r_desc</p>
                    <p>@restaurant.r_location</p>
                </div>
            </div>
        }

    }

</div>