@model FoodDatabase.fs_item

@{
    ViewBag.Title = "ItemDetails";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#button").click(function () {
            alert("Added to Cart");
        });
        
    });
</script>

<h2>ItemDetails</h2>
<style>
    input {
        border: 1px solid #cbc9c8;
        padding: 5px;
        border-radius: 5px;
    }

        input[type = "button"], #button {
            background-color: #FFD371;
            border: none;
            color: black;
            font-weight: 500;
        }

            input[type = "button"]:hover, #button:hover {
                background-color: #FFB740;
                color: black;
            }
</style>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.i_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.i_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.i_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fs_category.c_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fs_category.c_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fs_restaurant.r_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fs_restaurant.r_name)
        </dd>

    </dl>
</div>

<div>
    <input id ="button"style="height: 40px;width: 150px; border-radius: 20px;" type="button" name="Add to Cart" value="Add to Cart" />
</div>
