@model FoodDatabase.fs_user
@{
    ViewBag.Title = "Signup";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginBtn').click(function () {
                document.location.href = "Login";
            });
        });
    </script>

    <style>
        span
        {
            color: red !important;
        }
    </style>
</head>
<body>
    <h2>Sign Up</h2>
    <div>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.u_username)</td>
                        <td>@Html.TextBoxFor(model => model.u_username)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_username)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.u_firstname)</td>
                        <td>@Html.TextBoxFor(model => model.u_firstname)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_firstname)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.u_lastname)</td>
                        <td>@Html.TextBoxFor(model => model.u_lastname)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_lastname)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.u_gender)</td>
                        <td>Male @Html.RadioButton("u_gender", "male") Female @Html.RadioButton("u_gender", "Female") Others @Html.RadioButton("u_gender", "Others")</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_gender)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.u_contact)</td>
                        <td>@Html.TextBoxFor(model => model.u_contact)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_contact)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.u_email)</td>
                        <td>@Html.TextBoxFor(model => model.u_email)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_email)</span>
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.u_password)</td>
                        <td>@Html.PasswordFor(model => model.u_password)</td>
                        <td>
                            <span>@Html.ValidationMessageFor(model => model.u_password)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Signup" name="name" />
                        </td>
                        <td>
                            <input type="button" id="loginBtn" class="btn btn-primary" value="Login" name="name" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="color: red;">@ViewBag.error</p>
        }
    </div>
</body>
</html>
